---
layout: default
---

Hi! I'm Rohit an astronomer and Data Science aficionado.

  <div class="p2 wrap">
    <div class="measure mt1 center">
      <a href=https://twitter.com/singlebinary><img src = '/assets/twitter-64.png' style="width:40px;height:40px"></a> 

      <a href=https://linkedin.com/in/rohitsdeshpande><img src = '/assets/linkedin-64.png' style="width:35px;height:35px"></a>

      <a href=https://github.com/singlebinary><img src = '/assets/github-64.png' style="width:40px;height:40px"></a>

      <a href="#" onclick="window.location='mailto:singlebinary@gmail.com'; return false;" class="noHighlight"><img src = '/assets/message-64.png' style="width:40px;height:40px"></a>

    </div>
  </div>

<hr>

<h2>Recent Posts</h2>

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
          <h3 class="h2 post-title">{{ post.title }}</h3>
          <p class="post-summary">{{ post.summary }}</p>
        </a>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
</div>
